In [15]:
import pandas as pd
import numpy as np
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import Select
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
import re

In [16]:
URL = 'https://www.pakwheels.com/'

In [17]:
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities


options = webdriver.ChromeOptions()
driver = webdriver.Chrome(executable_path='/home/daniyal214/Desktop/Data Science/chromedriver',
                         options = options)
driver.get(URL)

In [18]:
# driver.find_element_by_xpath('//*[@id="om-lightbox-modern-optin-wrap"]/a').click()

In [19]:
driver.find_element_by_xpath('//*[@id="browes_make_id"]').click()

# Honda

In [88]:
driver.find_element_by_link_text('Honda').click()

In [89]:
# featured = driver.find_elements_by_css_selector('.classified-listing.featured-listing')
# cards = driver.find_elements_by_css_selector('.classified-listing   ')

In [90]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [92]:
# 886-100

786

In [91]:
import json

In [93]:
for j in range(800):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [26]:
len(brand)

5006

In [94]:
honda = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
honda.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Honda,2017,Hybrid,Automatic,1500cc,"23,000 km",3545000,https://www.pakwheels.com/used-cars/honda-grac...,Honda Grace Hybrid 2017 for sale in Multan
1,Honda,2018,Petrol,Automatic,660cc,"32,000 km",2075000,https://www.pakwheels.com/used-cars/honda-n-wg...,Honda N Wgn 2018 for sale in Multan
2,Honda,2018,Petrol,Automatic,1000cc,"24,500 km",2160000,https://www.pakwheels.com/used-cars/honda-n-wg...,Honda N Wgn 2018 for sale in Lahore
3,Honda,2011,Petrol,Manual,1300cc,"80,000 km",1850000,https://www.pakwheels.com/used-cars/honda-city...,Honda City 2011 for sale in Islamabad
4,Honda,2012,Petrol,Automatic,1800cc,"56,000 km",2275000,https://www.pakwheels.com/used-cars/honda-civi...,Honda Civic 2012 for sale in Karachi

In [95]:
honda.drop_duplicates(inplace=True)

In [96]:
honda.to_csv('Honda2', index=False)

In [97]:
honda.shape

(19380, 9)

# Nissan

In [32]:
driver.find_element_by_link_text('Nissan').click()

In [35]:
#65

In [36]:
100-64

36

In [33]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [37]:
import json

for j in range(36):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [38]:
nissan = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
nissan.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Nissan,2014,Petrol,Automatic,660cc,"68,000 km",1490000,https://www.pakwheels.com/used-cars/nissan-day...,Nissan Dayz Highway Star 2014 for sale in Karachi
1,Nissan,2018,Hybrid,Automatic,1200cc,"42,000 km",3000000,https://www.pakwheels.com/used-cars/nissan-not...,Nissan Note 2018 for sale in Islamabad
2,Nissan,2015,Petrol,Automatic,660cc,"50,000 km",1675000,https://www.pakwheels.com/used-cars/nissan-day...,Nissan Dayz Highway Star 2015 for sale in Gujr...
3,Nissan,2014,Petrol,Automatic,660cc,"103,000 km",1395000,https://www.pakwheels.com/used-cars/nissan-roo...,Nissan Roox 2014 for sale in Islamabad
4,Nissan,2018,Petrol,Automatic,1500cc,"15,000 km",3200000,https://www.pakwheels.com/used-cars/nissan-not...,Nissan Note 2018 for sale in Islamabad

In [39]:
nissan.drop_duplicates(inplace=True)

In [40]:
nissan.to_csv('Nissan', index=False)

In [41]:
nissan.shape

(2258, 9)

# Hyundai

In [42]:
driver.find_element_by_link_text('Hyundai').click()

In [43]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [45]:
import json

for j in range(98):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [46]:
hyundai = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
hyundai.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Hyundai,2021,Petrol,Automatic,2000cc,"9,000 km",5825000,https://www.pakwheels.com/used-cars/hyundai-tu...,Hyundai Tucson 2021 for sale in Islamabad
1,Hyundai,2021,Petrol,Automatic,2000cc,"3,400 km",3980000,https://www.pakwheels.com/used-cars/hyundai-el...,Hyundai Elantra 2021 for sale in Quetta
2,Hyundai,2021,Petrol,Automatic,2000cc,"12,000 km",5925000,https://www.pakwheels.com/used-cars/hyundai-tu...,Hyundai Tucson 2021 for sale in Islamabad
3,Hyundai,2021,Petrol,Automatic,2500cc,49 km,8300000,https://www.pakwheels.com/used-cars/hyundai-so...,Hyundai Sonata 2021 for sale in Islamabad
4,Hyundai,2021,Petrol,Automatic,2000cc,"8,000 km",5825000,https://www.pakwheels.com/used-cars/hyundai-tu...,Hyundai Tucson 2021 for sale in Islamabad

In [47]:
hyundai.drop_duplicates(inplace=True)

In [48]:
hyundai.to_csv('Hyundai', index=False)

In [49]:
hyundai.shape

(1503, 9)

# Changan

In [50]:
driver.find_element_by_link_text('Changan').click()

In [51]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [53]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [54]:
changan = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
changan.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Changan,2021,Petrol,Automatic,1500cc,50 km,2825000,https://www.pakwheels.com/used-cars/changan-al...,Changan Alsvin 2021 for sale in Lahore
1,Changan,2021,Petrol,Automatic,1500cc,5 km,2640000,https://www.pakwheels.com/used-cars/changan-al...,Changan Alsvin 2021 for sale in Karachi
2,Changan,2021,Petrol,Automatic,1500cc,"2,200 km",2790000,https://www.pakwheels.com/used-cars/changan-al...,Changan Alsvin 2021 for sale in Lahore
3,Changan,2021,Petrol,Automatic,1500cc,50 km,2760000,https://www.pakwheels.com/used-cars/changan-al...,Changan Alsvin 2021 for sale in Lahore
4,Changan,2021,Petrol,Automatic,1500cc,"4,700 km",2720000,https://www.pakwheels.com/used-cars/changan-al...,Changan Alsvin 2021 for sale in Lahore

In [55]:
changan.drop_duplicates(inplace=True)

In [56]:
changan.to_csv('Changan', index=False)

In [57]:
changan.shape

(691, 9)

# Mazda

In [58]:
driver.find_element_by_link_text('Mazda').click()

In [59]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [60]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [61]:
mazda = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
mazda.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Mazda,2015,Petrol,Automatic,660cc,"45,000 km",1575000,https://www.pakwheels.com/used-cars/mazda-scru...,Mazda Scrum 2015 for sale in Gujranwala
1,Mazda,2003,Petrol,Manual,1300cc,"60,000 km",1550000,https://www.pakwheels.com/used-cars/mazda-rx8-...,Mazda RX8 2003 for sale in Lahore
2,Mazda,2007,Petrol,Automatic,1500cc,"157,943 km",1360000,https://www.pakwheels.com/used-cars/mazda-axel...,Mazda Axela 2007 for sale in Karachi
3,Mazda,2012,Petrol,Automatic,660cc,"76,000 km",1250000,https://www.pakwheels.com/used-cars/mazda-scru...,Mazda Scrum 2012 for sale in Lahore
4,Mazda,2015,Diesel,Automatic,1500cc,"70,000 km",4550000,https://www.pakwheels.com/used-cars/mazda-cx3-...,Mazda Cx3 2015 for sale in Gujranwala

In [62]:
mazda.drop_duplicates(inplace=True)

In [63]:
mazda.to_csv('Mazda', index=False)

In [64]:
mazda.shape

(313, 9)

# Prince

In [65]:
driver.find_element_by_link_text('Prince').click()

In [66]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [67]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [68]:
prince = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
prince.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Prince,2020,Petrol,Manual,800cc,"6,139 km",1130000,https://www.pakwheels.com/used-cars/prince-pea...,Prince Pearl 2020 for sale in Lahore
1,Prince,2021,Petrol,Manual,800cc,1 km,1111000,https://www.pakwheels.com/used-cars/prince-pea...,Prince Pearl 2021 for sale in Gujranwala
2,Prince,2021,Petrol,Manual,1000cc,100 km,1360000,https://www.pakwheels.com/used-cars/prince-k07...,Prince K07 2021 for sale in Gujranwala
3,Prince,2021,Petrol,Manual,800cc,250 km,1199000,https://www.pakwheels.com/used-cars/prince-pea...,Prince Pearl 2021 for sale in Gujranwala
4,Prince,2020,Petrol,Manual,800cc,"25,000 km",1185000,https://www.pakwheels.com/used-cars/prince-pea...,Prince Pearl 2020 for sale in Gujranwala

In [69]:
prince.drop_duplicates(inplace=True)

In [70]:
prince.to_csv('Prince', index=False)

In [71]:
prince.shape

(203, 9)

# Lexus

In [72]:
driver.find_element_by_link_text('Lexus').click()

In [73]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [75]:
import json

for j in range(98):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [76]:
lexus = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
lexus.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Lexus,2012,Hybrid,Automatic,3500cc,"89,000 km",12000000,https://www.pakwheels.com/used-cars/lexus-rx-s...,Lexus RX Series 2012 for sale in Karachi
1,Lexus,2016,Petrol,Automatic,5700cc,"33,000 km",48500000,https://www.pakwheels.com/used-cars/lexus-lx-s...,Lexus LX Series 2016 for sale in Karachi
2,Lexus,2016,Petrol,Automatic,3500cc,"22,000 km",25000000,https://www.pakwheels.com/used-cars/lexus-rx-s...,Lexus RX Series 2016 for sale in Karachi
3,Lexus,2016,Petrol,Automatic,5663cc,"62,000 km",49500000,https://www.pakwheels.com/used-cars/lexus-lx-s...,Lexus LX Series 2016 for sale in Islamabad
4,Lexus,2012,Hybrid,Automatic,3500cc,"71,557 km",9000000,https://www.pakwheels.com/used-cars/lexus-rx-s...,Lexus RX Series 2012 for sale in Lahore

In [77]:
lexus.drop_duplicates(inplace=True)
lexus.to_csv('Lexus', index=False)
lexus.shape

(168, 9)

# United

In [78]:
driver.find_element_by_link_text('United').click()

In [79]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [80]:
import json

for j in range(98):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [81]:
united = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
united.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,United,2021,Petrol,Manual,1000cc,1 km,1259000,https://www.pakwheels.com/used-cars/united-alp...,United Alpha 2021 for sale in Lahore
1,United,2021,Petrol,Manual,800cc,1 km,1030000,https://www.pakwheels.com/used-cars/united-bra...,United Bravo 2021 for sale in Lahore
2,United,2021,Petrol,Manual,1000cc,"1,910 km",1340000,https://www.pakwheels.com/used-cars/united-alp...,United Alpha 2021 for sale in Lahore
3,United,2019,Petrol,Manual,800cc,"63,000 km",820000,https://www.pakwheels.com/used-cars/united-bra...,United Bravo 2019 for sale in Lahore
4,United,2021,Petrol,Manual,800cc,"12,688 km",1030000,https://www.pakwheels.com/used-cars/united-bra...,United Bravo 2021 for sale in Lahore

In [82]:
united.drop_duplicates(inplace=True)
united.to_csv('United', index=False)
united.shape

(116, 9)

# Proton

In [83]:
driver.find_element_by_link_text('Proton').click()

In [84]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [85]:
import json

for j in range(98):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [86]:
proton = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
proton.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Proton,2007,Petrol,Manual,1300cc,"130,000 km",750000,https://www.pakwheels.com/used-cars/proton-sag...,Proton Saga 2007 for sale in Islamabad
1,Proton,2021,Petrol,Automatic,1300cc,1 km,2660000,https://www.pakwheels.com/used-cars/proton-sag...,Proton Saga 2021 for sale in Islamabad
2,Proton,2021,Petrol,Automatic,1500cc,54 km,5650000,https://www.pakwheels.com/used-cars/proton-x70...,Proton X70 2021 for sale in Lahore
3,Proton,2021,Petrol,Automatic,1500cc,340 km,6350000,https://www.pakwheels.com/used-cars/proton-x70...,Proton X70 2021 for sale in Islamabad
4,Proton,2021,Petrol,Automatic,1300cc,"3,265 km",2700000,https://www.pakwheels.com/used-cars/proton-sag...,Proton Saga 2021 for sale in Karachi

In [87]:
proton.drop_duplicates(inplace=True)
proton.to_csv('Proton', index=False)
proton.shape

(101, 9)