In [15]:
import pandas as pd
import numpy as np
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import Select
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
import re

In [16]:
URL = 'https://www.pakwheels.com/'

In [17]:
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities


options = webdriver.ChromeOptions()
driver = webdriver.Chrome(executable_path='/home/daniyal214/Desktop/Data Science/chromedriver',
                         options = options)
driver.get(URL)

In [18]:
# driver.find_element_by_xpath('//*[@id="om-lightbox-modern-optin-wrap"]/a').click()

In [19]:
driver.find_element_by_xpath('//*[@id="browes_make_id"]').click()

# Suzuki

In [92]:
driver.find_element_by_link_text('Suzuki').click()

In [21]:
# featured = driver.find_elements_by_css_selector('.classified-listing.featured-listing')
# cards = driver.find_elements_by_css_selector('.classified-listing   ')

In [94]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [95]:
import json

In [96]:
# 1280-100

1180

In [97]:
for j in range(1200):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next â€º')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [30]:
len(brand)

3121

In [98]:
suzuki = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
suzuki.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Suzuki,2009,Petrol,Automatic,660cc,"150,000 km",1050000,https://www.pakwheels.com/used-cars/suzuki-mr-...,Suzuki MR Wagon 2009 for sale in Wah cantt
1,Suzuki,2015,Petrol,Manual,800cc,"38,000 km",860000,https://www.pakwheels.com/used-cars/suzuki-meh...,Suzuki Mehran 2015 for sale in Faisalabad
2,Suzuki,2012,Petrol,Manual,1000cc,"38,000 km",675000,https://www.pakwheels.com/used-cars/suzuki-meh...,Suzuki Mehran 2012 for sale in Islamabad
3,Suzuki,2019,Petrol,Manual,1000cc,"31,000 km",1625000,https://www.pakwheels.com/used-cars/suzuki-wag...,Suzuki Wagon R 2019 for sale in Islamabad
4,Suzuki,2001,Petrol,Manual,1000cc,"500,000 km",470000,https://www.pakwheels.com/used-cars/suzuki-alt...,Suzuki Alto 2001 for sale in Lala musa

In [99]:
suzuki.drop_duplicates(inplace=True)

In [100]:
suzuki.to_csv('Suzuki2', index=False)

In [101]:
suzuki.shape

(29151, 9)

# KIA

In [38]:
driver.find_element_by_link_text('KIA').click()

In [41]:
#64

In [44]:
100-64

36

In [39]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [45]:
import json

for j in range(36):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next â€º')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [48]:
kia = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
kia.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,KIA,2020,Petrol,Automatic,2000cc,"9,000 km",5499000,https://www.pakwheels.com/used-cars/kia-sporta...,KIA Sportage 2020 for sale in Sialkot
1,KIA,2020,Petrol,Automatic,2000cc,"22,500 km",5250000,https://www.pakwheels.com/used-cars/kia-sporta...,KIA Sportage 2020 for sale in Lahore
2,KIA,2019,Petrol,Automatic,3300cc,"55,000 km",7200000,https://www.pakwheels.com/used-cars/kia-grand-...,KIA Grand Carnival 2019 for sale in Islamabad
3,KIA,2021,Petrol,Automatic,2000cc,1 km,4665000,https://www.pakwheels.com/used-cars/kia-sporta...,KIA Sportage 2021 for sale in Sialkot
4,KIA,2021,Petrol,Automatic,2000cc,"4,000 km",5600000,https://www.pakwheels.com/used-cars/kia-sporta...,KIA Sportage 2021 for sale in Gujranwala

In [49]:
kia.drop_duplicates(inplace=True)

In [50]:
kia.to_csv('KIA', index=False)

In [51]:
kia.shape

(1562, 9)

# Mitsubishi

In [52]:
driver.find_element_by_link_text('Mitsubishi').click()

In [53]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [54]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next â€º')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [55]:
mitsubishi = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
mitsubishi.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Mitsubishi,2013,Petrol,Automatic,600cc,"171,000 km",1100000,https://www.pakwheels.com/used-cars/mitsubishi...,Mitsubishi Minicab Bravo 2013 for sale in Pesh...
1,Mitsubishi,2004,Petrol,Automatic,1300cc,"212,000 km",1150000,https://www.pakwheels.com/used-cars/mitsubishi...,Mitsubishi Lancer 2004 for sale in Rawalpindi
2,Mitsubishi,2013,Petrol,Automatic,660cc,"94,000 km",1475000,https://www.pakwheels.com/used-cars/mitsubishi...,Mitsubishi Ek Wagon 2013 for sale in Rawalpindi
3,Mitsubishi,2018,Petrol,Automatic,660cc,"19,566 km",1950000,https://www.pakwheels.com/used-cars/mitsubishi...,Mitsubishi Ek Wagon 2018 for sale in Lahore
4,Mitsubishi,2011,Petrol,Automatic,660cc,"90,403 km",1350000,https://www.pakwheels.com/used-cars/mitsubishi...,Mitsubishi Town Box 2011 for sale in Lahore

In [56]:
mitsubishi.drop_duplicates(inplace=True)

In [57]:
mitsubishi.to_csv('Mitsubishi', index=False)

In [58]:
mitsubishi.shape

(1498, 9)

# FAW

In [59]:
driver.find_element_by_link_text('FAW').click()

In [60]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [61]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next â€º')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [62]:
faw = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
faw.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,FAW,2015,Petrol,Manual,1300cc,"170,000 km",1200000,https://www.pakwheels.com/used-cars/faw-v2-201...,FAW V2 2015 for sale in Lahore
1,FAW,2017,Petrol,Manual,1300cc,"53,000 km",1199000,https://www.pakwheels.com/used-cars/faw-v2-201...,FAW V2 2017 for sale in Lahore
2,FAW,2016,Petrol,Manual,1000cc,"115,000 km",750000,https://www.pakwheels.com/used-cars/faw-x-pv-2...,FAW X-PV 2016 for sale in Chakwal
3,FAW,2013,Petrol,Manual,1000cc,"208,979 km",750000,https://www.pakwheels.com/used-cars/faw-x-pv-2...,FAW X-PV 2013 for sale in Rawalpindi
4,FAW,2015,Petrol,Manual,1300cc,"66,579 km",1200000,https://www.pakwheels.com/used-cars/faw-v2-201...,FAW V2 2015 for sale in Islamabad

In [63]:
faw.drop_duplicates(inplace=True)

In [64]:
faw.to_csv('FAW', index=False)

In [65]:
faw.shape

(489, 9)

# Audi

In [66]:
driver.find_element_by_link_text('Audi').click()

In [67]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [68]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next â€º')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [69]:
audi = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
audi.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Audi,2018,Petrol,Automatic,1800cc,"24,000 km",14000000,https://www.pakwheels.com/used-cars/audi-a6-20...,Audi A6 2018 for sale in Lahore
1,Audi,2019,Petrol,Automatic,1400cc,"12,000 km",13900000,https://www.pakwheels.com/used-cars/audi-a5-20...,Audi A5 2019 for sale in Islamabad
2,Audi,2017,Petrol,Automatic,1400cc,"72,000 km",8200000,https://www.pakwheels.com/used-cars/audi-a4-20...,Audi A4 2017 for sale in Lahore
3,Audi,2016,Petrol,Automatic,1400cc,"22,000 km",6800000,https://www.pakwheels.com/used-cars/audi-a3-20...,Audi A3 2016 for sale in Gujranwala
4,Audi,2020,Hybrid,Automatic,230cc,"2,900 km",14500000,https://www.pakwheels.com/used-cars/audi-e-tro...,Audi e-tron 2020 for sale in Karachi

In [70]:
audi.drop_duplicates(inplace=True)

In [71]:
audi.to_csv('Audi', index=False)

In [72]:
audi.shape

(331, 9)

# DFSK

In [73]:
driver.find_element_by_link_text('DFSK').click()

In [74]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [75]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next â€º')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [76]:
dfsk = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
dfsk.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,DFSK,2021,Petrol,Automatic,1500cc,1 km,4850000,https://www.pakwheels.com/used-cars/dfsk-glory...,DFSK Glory 580 2021 for sale in Sahiwal
1,DFSK,2021,Petrol,Automatic,1500cc,"2,000 km",4850000,https://www.pakwheels.com/used-cars/dfsk-glory...,DFSK Glory 580 2021 for sale in Lahore
2,DFSK,2021,Petrol,Automatic,1500cc,"11,001 km",4995000,https://www.pakwheels.com/used-cars/dfsk-glory...,DFSK Glory 580 2021 for sale in Islamabad
3,DFSK,2021,Petrol,Automatic,1500cc,1 km,4610000,https://www.pakwheels.com/used-cars/dfsk-glory...,DFSK Glory 580 2021 for sale in Islamabad
4,DFSK,2021,Petrol,Automatic,1500cc,100 km,4610000,https://www.pakwheels.com/used-cars/dfsk-glory...,DFSK Glory 580 2021 for sale in Gujranwala

In [77]:
dfsk.drop_duplicates(inplace=True)

In [78]:
dfsk.to_csv('DFSK', index=False)

In [79]:
dfsk.shape

(216, 9)

# Subaru

In [81]:
driver.find_element_by_link_text('Subaru').click()

In [82]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [83]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next â€º')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [84]:
subaru = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
subaru.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Subaru,2020,Petrol,Automatic,1000cc,"12,000 km",2680000,https://www.pakwheels.com/used-cars/subaru-jus...,Subaru Justy 2020 for sale in Faisalabad
1,Subaru,2018,Petrol,Automatic,660cc,"1,500 km",2350000,https://www.pakwheels.com/used-cars/subaru-ple...,Subaru Pleo 2018 for sale in Karachi
2,Subaru,2012,Petrol,Automatic,2400cc,"80,000 km",2800000,https://www.pakwheels.com/used-cars/subaru-for...,Subaru Forester 2012 for sale in Islamabad
3,Subaru,2018,Petrol,Automatic,660cc,"67,000 km",2000000,https://www.pakwheels.com/used-cars/subaru-ste...,Subaru Stella 2018 for sale in Sialkot
4,Subaru,2012,Petrol,Automatic,660cc,"85,000 km",1330000,https://www.pakwheels.com/used-cars/subaru-ste...,Subaru Stella 2012 for sale in Lahore

In [85]:
subaru.drop_duplicates(inplace=True)
subaru.to_csv('Subaru', index=False)
subaru.shape

(154, 9)

# Daewoo

In [86]:
driver.find_element_by_link_text('Daewoo').click()

In [87]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [89]:
import json

for j in range(98):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next â€º')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [90]:
daewoo = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
daewoo.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Daewoo,1997,Petrol,Manual,1500cc,"197,000 km",450000,https://www.pakwheels.com/used-cars/daewoo-rac...,Daewoo Racer 1997 for sale in Islamabad
1,Daewoo,1993,Petrol,Manual,1300cc,"258,580 km",340000,https://www.pakwheels.com/used-cars/daewoo-rac...,Daewoo Racer 1993 for sale in Lahore
2,Daewoo,1993,CNG,Manual,1500cc,"258,470 km",335000,https://www.pakwheels.com/used-cars/daewoo-rac...,Daewoo Racer 1993 for sale in Rawalpindi
3,Daewoo,1994,CNG,Manual,1500cc,"65,000 km",300000,https://www.pakwheels.com/used-cars/daewoo-rac...,Daewoo Racer 1994 for sale in Hassan abdal
4,Daewoo,1993,Petrol,Manual,1500cc,"200,000 km",485000,https://www.pakwheels.com/used-cars/daewoo-rac...,Daewoo Racer 1993 for sale in Islamabad

In [91]:
daewoo.drop_duplicates(inplace=True)
daewoo.to_csv('Daewoo', index=False)
daewoo.shape

(107, 9)