In [181]:
import pandas as pd
import numpy as np
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import Select
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
import re

In [182]:
URL = 'https://www.pakwheels.com/'

In [183]:
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities


options = webdriver.ChromeOptions()
driver = webdriver.Chrome(executable_path='/home/daniyal214/Desktop/Data Science/chromedriver',
                         options = options)
driver.get(URL)

In [184]:
# driver.find_element_by_xpath('//*[@id="om-lightbox-modern-optin-wrap"]/a').click()

In [185]:
driver.find_element_by_xpath('//*[@id="browes_make_id"]').click()

# Toyota

In [249]:
driver.find_element_by_link_text('Toyota').click()

In [250]:
# featured = driver.find_elements_by_css_selector('.classified-listing.featured-listing')
# cards = driver.find_elements_by_css_selector('.classified-listing   ')

In [251]:
# 1578-100

In [252]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [253]:
for j in range(1500):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [192]:
len(brand)

5746

In [254]:
toyota = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
toyota.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Toyota,2017,Petrol,Manual,1300cc,"91,508 km",2850000,https://www.pakwheels.com/used-cars/toyota-cor...,Toyota Corolla 2017 for sale in Rawalpindi
1,Toyota,2017,Petrol,Automatic,1600cc,"54,898 km",3050000,https://www.pakwheels.com/used-cars/toyota-cor...,Toyota Corolla 2017 for sale in Islamabad
2,Toyota,2017,Petrol,Automatic,1300cc,"69,114 km",2895000,https://www.pakwheels.com/used-cars/toyota-cor...,Toyota Corolla 2017 for sale in Islamabad
3,Toyota,2015,Hybrid,Automatic,1500cc,"77,363 km",2750000,https://www.pakwheels.com/used-cars/toyota-aqu...,Toyota Aqua 2015 for sale in Rawalpindi
4,Toyota,2015,Petrol,Automatic,1300cc,"95,339 km",2570000,https://www.pakwheels.com/used-cars/toyota-cor...,Toyota Corolla 2015 for sale in Islamabad

In [255]:
toyota.drop_duplicates(inplace=True)

In [256]:
toyota.to_csv('Toyota2', index=False)

In [257]:
toyota.shape

(36025, 9)

In [201]:
# toyota['Description'][0]

In [202]:
# import re

In [203]:
# s = toyota['Description'][0]

In [204]:
# for i in toyota['Description']:
#     print(re.findall(r'([a-zA-Z ]*)', i))

# Daihatsu

In [205]:
driver.find_element_by_link_text('Daihatsu').click()

In [209]:
#62

In [211]:
100-61

39

In [206]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [212]:
import json

for j in range(39):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

# MG

In [213]:
driver.find_element_by_link_text('MG').click()

In [214]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [216]:
import json

for j in range(98):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [217]:
mg = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
mg.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,MG,2021,Petrol,Automatic,1500cc,"5,300 km",6100000,https://www.pakwheels.com/used-cars/mg-hs-2021...,MG HS 2021 for sale in Islamabad
1,MG,2021,Petrol,Automatic,1500cc,200 km,6050000,https://www.pakwheels.com/used-cars/mg-hs-2021...,MG HS 2021 for sale in Faisalabad
2,MG,2021,Petrol,Automatic,1500cc,"4,500 km",5780000,https://www.pakwheels.com/used-cars/mg-other-2...,MG Other 2021 for sale in Lahore
3,MG,2021,Petrol,Automatic,1500cc,45 km,6100000,https://www.pakwheels.com/used-cars/mg-hs-2021...,MG HS 2021 for sale in Lahore
4,MG,2021,Petrol,Automatic,1500cc,25 km,6100000,https://www.pakwheels.com/used-cars/mg-hs-2021...,MG HS 2021 for sale in Islamabad

In [218]:
mg.drop_duplicates(inplace=True)

In [219]:
mg.to_csv('MG', index=False)

In [220]:
mg.shape

(1254, 9)

# Mercedes Benz

In [222]:
driver.find_element_by_link_text('Mercedes Benz').click()

In [223]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [224]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [225]:
mercedes = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
mercedes.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Mercedes Benz,2008,Petrol,Automatic,5500cc,"65,000 km",12800000,https://www.pakwheels.com/used-cars/mercedes-b...,Mercedes Benz S Class 2008 for sale in Lahore
1,Mercedes Benz,2007,Petrol,Automatic,3500cc,"140,000 km",7000000,https://www.pakwheels.com/used-cars/mercedes-b...,Mercedes Benz S Class 2007 for sale in Lahore
2,Mercedes Benz,2012,Petrol,Automatic,2000cc,"90,000 km",9000000,https://www.pakwheels.com/used-cars/mercedes-b...,Mercedes Benz E Class 2012 for sale in Islamabad
3,Mercedes Benz,2011,Petrol,Automatic,1800cc,"77,000 km",6000000,https://www.pakwheels.com/used-cars/mercedes-b...,Mercedes Benz C Class 2011 for sale in Islamabad
4,Mercedes Benz,2012,Petrol,Automatic,1800cc,"65,000 km",6800000,https://www.pakwheels.com/used-cars/mercedes-b...,Mercedes Benz C Class 2012 for sale in Faisalabad

In [226]:
mercedes.drop_duplicates(inplace=True)

In [227]:
mercedes.to_csv('Hyundai', index=False)

In [228]:
mercedes.shape

(929, 9)

# BMW

In [229]:
driver.find_element_by_link_text('BMW').click()

In [230]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [231]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [232]:
bmw = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
bmw.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,BMW,2008,Petrol,Automatic,3000cc,"72,000 km",8750000,https://www.pakwheels.com/used-cars/bmw-x5-ser...,BMW X5 Series 2008 for sale in Lahore
1,BMW,2010,Diesel,Automatic,740cc,"96,000 km",12500000,https://www.pakwheels.com/used-cars/bmw-7-seri...,BMW 7 Series 2010 for sale in Lahore
2,BMW,2002,Petrol,Automatic,4400cc,"118,532 km",3250000,https://www.pakwheels.com/used-cars/bmw-7-seri...,BMW 7 Series 2002 for sale in Sialkot
3,BMW,2017,Petrol,Automatic,1500cc,"41,000 km",5815000,https://www.pakwheels.com/used-cars/bmw-x1-201...,BMW X1 2017 for sale in Lahore
4,BMW,2007,Petrol,Automatic,4000cc,"148,000 km",4300000,https://www.pakwheels.com/used-cars/bmw-7-seri...,BMW 7 Series 2007 for sale in Islamabad

In [233]:
bmw.drop_duplicates(inplace=True)

In [234]:
bmw.to_csv('BMW', index=False)

In [235]:
bmw.shape

(268, 9)

# Chevrolet

In [236]:
driver.find_element_by_link_text('Chevrolet').click()

In [237]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [238]:
import json

for j in range(100):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [239]:
chevrolet = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
chevrolet.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Chevrolet,2006,Petrol,Manual,1000cc,"186,000 km",575000,https://www.pakwheels.com/used-cars/chevrolet-...,Chevrolet Joy 2006 for sale in Islamabad
1,Chevrolet,2007,Petrol,Manual,1000cc,"163,000 km",650000,https://www.pakwheels.com/used-cars/chevrolet-...,Chevrolet Joy 2007 for sale in Lahore
2,Chevrolet,1981,Petrol,Automatic,5700cc,"110,000 km",9000000,https://www.pakwheels.com/used-cars/chevrolet-...,Chevrolet Corvette 1981 for sale in Lahore
3,Chevrolet,2005,Petrol,Automatic,1600cc,"128,109 km",1090000,https://www.pakwheels.com/used-cars/chevrolet-...,Chevrolet Optra 2005 for sale in Karachi
4,Chevrolet,2006,Petrol,Automatic,1600cc,"130,000 km",1100000,https://www.pakwheels.com/used-cars/chevrolet-...,Chevrolet Optra 2006 for sale in Rawalpindi

In [240]:
chevrolet.drop_duplicates(inplace=True)
chevrolet.to_csv('Chevrolet', index=False)
chevrolet.shape

(183, 9)

# Jeep

In [241]:
driver.find_element_by_link_text('Jeep').click()

In [242]:
# brand = []
# year = []
# fuelType = []
# transmission = []
# cc = []
# km_driven = []
# price = []
# description = []
# url = []

In [244]:
import json

for j in range(98):
    time.sleep(10)
    cards = driver.find_elements_by_css_selector('.classified-listing   ')
    for i in cards:
        try:
            lib = i.find_element_by_tag_name('script').get_attribute('innerHTML')
            item = json.loads(lib.replace('\n', ''))
            brand.append(item['brand']['name'])
            year.append(item['modelDate'])
            fuelType.append(item['fuelType'])
            transmission.append(item['vehicleTransmission'])
            cc.append(item['vehicleEngine']['engineDisplacement'])
            km_driven.append(item['mileageFromOdometer'])
            price.append(item['offers']['price'])
            url.append(item['offers']['url'])
            description.append(item['name'])
        except NoSuchElementException:
            pass 


    try:
        time.sleep(3)
        element = driver.find_element_by_link_text('Next ›')
        actions = ActionChains(driver)
        actions.move_to_element(element).perform()
        time.sleep(5)
        element.click()
    except NoSuchElementException:
        break

In [245]:
jeep = pd.DataFrame({'Make':brand, 'Model_Year':year, 'Fuel_Type':fuelType, 
             'Transmission':transmission, 'Engine_Capacity':cc, 'Kms_Driven':km_driven,
             'Price':price, 'Url':url, 'Description':description})
jeep.head()

,Make,Model_Year,Fuel_Type,Transmission,Engine_Capacity,Kms_Driven,Price,Url,Description
0,Jeep,2013,Petrol,Automatic,6400cc,"26,000 km",24000000,https://www.pakwheels.com/used-cars/jeep-chero...,Jeep Cherokee 2013 for sale in Lahore
1,Jeep,2020,Petrol,Automatic,3600cc,"18,000 km",23500000,https://www.pakwheels.com/used-cars/jeep-other...,Jeep Other 2020 for sale in Karachi
2,Jeep,1964,Diesel,Manual,2200cc,"100,000 km",975000,https://www.pakwheels.com/used-cars/jeep-cj-5-...,Jeep CJ 5 1964 for sale in Islamabad
3,Jeep,1980,Diesel,Manual,2400cc,"24,000 km",1450000,https://www.pakwheels.com/used-cars/jeep-cj-7-...,Jeep Cj 7 1980 for sale in Rawalpindi
4,Jeep,1992,Diesel,Manual,2000cc,"70,000 km",850000,https://www.pakwheels.com/used-cars/jeep-m-825...,Jeep M 825 1992 for sale in Sialkot

In [246]:
jeep.drop_duplicates(inplace=True)
jeep.to_csv('Jeep', index=False)
jeep.shape

(121, 9)